pandas==2.2.1
scikit-learn==1.4.1.post1
tqdm==4.66.2
essentia==2.1b6.dev1034
numpy==1.26.4
matplotlib==3.8.3
psutil==5.9.8
colorlog==6.8.2
scipy==1.12.0
pydub==0.25.1
rich==13.7.0 
musicbrainzngs==0.7.1
mutagen==1.47.0 
requests==2.31.0 
questionary==1.10.0
tensorflow>=2.8.0
librosa>=0.10.0
vggish-keras==0.1.1 